.card {
    background-color: $color-dirty-white;
    height: 52rem;
    position: relative;

    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.945);
    backface-visibility: hidden;
    border-radius: 3px;
    width: 100%;
    &__heading {
      height: 26rem;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      background-color: red;
      
    }
    &__content {

    }

    &__footer {

    }

}