.card {
  background-color: $color-dirty-white;
  height: 52rem;
  position: relative;
  
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.945);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  width: 45%;
  @include respond(tab-land) {

    height: 60rem;

  }
  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__heading {
    height: 26rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-image: linear-gradient(
      to left bottom,
      $color-light-pink,
      $color-light-grey,
      $color-medium-dark-grey
    );

    &__text {
      font-size: 2.3rem;
      font-weight: 300;
      text-align: right;
      position: absolute;
      top: 16rem;
      right: 3.5rem;
      width: 60%;
      line-height: 1.4;
      @include respond(tab-land) {
        font-size: 3.4rem;
      }

      &__span {
        padding: 1rem 1.5rem;
        background-image: linear-gradient(
          to right top,
          #574b5c,
          #736379,
          #907d98,
          #ae98b7,
          #cdb3d8
        );
        -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
        color: $card-text-color;
        
      }

    }
    // __img is the classname of html div
    &__img {
      position: relative;
      &-all {
        position: absolute;
        width: 16rem;
        height: 12rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        border-radius: 2px;
        transition: all 0.2s;
        outline-offset: 2rem;
        z-index: 10;
        &:hover {
          transform: scale(1.2) translateY(-0.5rem);
          box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
          z-index: 20;
          @include respond(phone) {
            transform: scale(1.4) translateY(-0.5rem);
          }
        }
        @include respond(tab-land) {
          width: 22%;
          height: 15rem;
        }
        @include respond(phone) {
          width: 27%;
          height: 10rem;
        }
      }
      &-1 {
        left: 17rem;
        top: 1.7rem;
        @include respond(phone) {
          left: 10rem;
        }
      }
      &-2 {
        left: 2rem;
        top: 3.7rem;
      }
      &-3 {
        left: 10rem;
        top: 9.7rem;
        @include respond(phone) {
          left: 6.5rem;
        }
      }
    }
    @include respond(tab-land) {

      height: 30rem;
    }
  
  }
  &__content {
    &--container {
      height: 20rem;
      border-bottom: 1px solid rgb(190, 190, 190);
      box-shadow: 0 10px 11px -1px rgba(150, 150, 150, 0.658);
    }
    &--project {
      height: 15rem;
      font-size: 1.7rem;
      line-height: 1.43;
      letter-spacing: 0.1rem;
      padding: 1.3rem;
      color: $card-text-color-1;
      overflow: auto;
      display: flex;
      align-items: center;
      @include respond(tab-land) {
        font-size: 2rem;
      }
    }
    &--technologies {
      display: flex;
      font-size: 3rem;
      text-decoration: none;
      list-style: none;
      justify-content: flex-end;
      &-icon {
        margin-right: 2rem;
      }
    }
  }

  &__footer {
    display: flex;
    height: 6rem;
    align-items: center;
    @include respond(tab-land) {
      height: 10rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: 2rem;
      text-decoration: none;
      margin-left: 2.3rem;
      color: $card-text-color-1;
      padding: 1rem;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      background-color: rgba($color-light-grey, 0.5);
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  &__button {
    &,
    &:link,
    &:visited {
      font-size: 2rem;
      border: none;
      background: none;
      text-decoration: none;
      margin-left: 2.3rem;
      color: $card-text-color-1;
      padding: 1rem;
      transition: all 0.3s;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: rgba($color-light-grey, 0.5);
        cursor: pointer;
        transform: scale(1.2);
        border-radius: 5px;
      }
    }
  }
}

