@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(226, 226, 226, 0.5), rgba(119, 119, 119, 0.5)), url("../assets/images/portfolio/laptop-1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: -1;
  clip-path: polygon(0 18%, 100% 5%, 100% 83%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 8rem;
    z-index: 9999;
    border-radius: 50%; }
  .header__logo {
    height: 28.5rem;
    border-radius: 50%; }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        height: 18rem; } }
  .header__socialmedia-icons {
    display: flex; }
  .header__socialmedia-link {
    height: 4rem;
    color: #1d1d1d; }
    .header__socialmedia-link:not(:last-child) {
      margin-right: 6rem; }

.navigation {
  transform: translatey(4.4rem) rotate(-4deg); }
  .navigation__nav {
    position: relative;
    z-index: 1500; }
  .navigation__list {
    display: flex;
    list-style: none;
    justify-content: flex-end; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    margin-left: 8rem;
    text-decoration: none;
    font-size: 3.3rem;
    font-weight: 300;
    color: #1b1b1b;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #1d1d1d 50%);
    background-size: 230%;
    transition: all 0.4s;
    border-radius: 10%; }
    @media only screen and (max-width: 56.25em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 2rem; } }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    transform: translateX(1rem);
    color: whitesmoke; }
  .navigation__item {
    margin: 1rem; }

.library {
  color: #c07171;
  text-align: center;
  font-size: 2rem; }
