// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

//COLORS

$color-light-grey: #e2e2e2;
$color-medium-dark-grey: rgb(194, 194, 194);
$color-light-pink: #ff84ca41;

$color-dark-grey: #777;
$color-white: rgb(245, 245, 245);
$color-black: rgb(29, 29, 29);


$color-dirty-white:  #eeeeeede;
$card-text-color: #e2e2e2;
$card-text-color-1: #353535;
